### **Data Types**

In [ ]:
a=12
print(a)
print(type(a))

b=12.34
print(b)
print(type(b))

c="Python"
print(c)
print(type(c))

d=False
print(d)
print(type(d))

e=12+7j
print(e)
print(type(e))

12
<class 'int'>
12.34
<class 'float'>
Python
<class 'str'>
False
<class 'bool'>
(12+7j)
<class 'complex'>

In [ ]:
a = 12
print(a)
type(a)

12

int

### **Operators**

*   Symbols used to perform sort of operations
*   Arithmetic Operator

In [ ]:
num1=13
num2=2
print("addition ",num1+num2)
print("subtraction ",num1-num2)
print("multiplication ",num1*num2)
print("division ",num1/num2)
print("Remainder modulu",num1%num2)
print("Exponent ",num1**num2)
print("Floor division ",num1//num2)

addition  15
subtraction  11
multiplication  26
division  6.5
Remainder modulu 1
Exponent  169
Floor division  6

### **Comparison Operator**

In [ ]:
a=34
b=30
print("Equal : ",a==b)
print("Not Equal : ",a!=b)
print("Greater  : ",a>b)
print("Lesser : ",a<b)
print("Greater or equal : ",a>=b)
print("Lesser or equal : ",a<=b)

Equal :  False
Not Equal :  True
Greater  :  True
Lesser :  False
Greater or equal :  True
Lesser or equal :  False

In [ ]:
a>b

True

In [ ]:
name="Anajli"
age = 34
location = "Maharashtra"
print("Student name is:",name,"age is ",age,"location is ",location)
print(f"Stundent name is {name} age is {age} location is {location}")

Student name is: Anajli age is  34 location is  Maharashtra
Stundent name is Anajli age is 34 location is Maharashtra

### **Logical Operator**


*   and: both or all the condition must be true
*   or : at least one condition must be true
*   not : wise-versa true--->false, false --- > true

In [ ]:
cond1=False
cond2=False
cond3=True
print("AND")
print(cond1 and cond2 and cond3)

print("OR")
print(cond1 or cond2 or cond3)


print("NOT")
print(not cond2)
print(not (cond1 and cond2 and cond3))

AND
False
OR
True
NOT
True
True

### **Assignment Operator**

In [ ]:
a=12
b=2
a=a+b
print(a)

14

In [ ]:
a=12
a*=6 # OR a = a * 6
print(a)

72

In [ ]:
a = 12
a = a * 6
print(a)

72

In [ ]:
a=12
b=2
a+=b # OR a = a + b
print(a)

14

In [ ]:
a=12
b=34
c=56
c+=b # OR c = c + b
print(c)

90

### **Membership Operator**


*   in : the element must be present
*   not in : the element should not be present

In [ ]:
data="water"
print("o" in data)
print("o" not in data)
print("A" in data)

False
True
True

### **Identity Operator**


*   is or == : same value
*   is not or != : not same value

In [ ]:
a=34
b=34
c=56
d=c
print(a is b)
print(a==b)
print(a is not c)
print(a!=c)
print(c is d)
print(c==d)

True
True
True
True
True
True

In [ ]:
num = 50
num

50

In [ ]:
# To accept input from user
a = input("Enter a number: ")

Enter a number: 25

In [ ]:
a

'25'

In [ ]:
type(a)

str

In [ ]:
a + 50

TypeError: can only concatenate str (not "int") to str

In [ ]:
num1 = int(input("Enter your marks: "))

Enter your marks: 75

In [ ]:
num1

75

In [ ]:
num1 + 10

85

In [ ]:
name = input("Enter your name: ")

Enter your name: Snehal

In [ ]:
name

'Snehal'

In [ ]:
a=int(input("Enter 1st value "))
b=int(input("Enter 2nd value "))
print(type(a))
print(type(b))
print(a+b)

Enter 1st value 10
Enter 2nd value 30
<class 'int'>
<class 'int'>
40

### **Conditional Statement**


*   take the input from user at run time of your code : input()
*   takes the value by default in the string format

### **if**


*   whether the number is positive or negative

In [ ]:
a=int(input("Enter a value"))
if a>0:
    print("Positive Number")
print("Thank you")

Enter a value-8
thank you

### **if...else Statement**

In [ ]:
a=int(input("Enter a value"))
if a>0:
    print("Positive Number")
else:
    print("Negative Number")
print("thank you")

Enter a value-6
Negative Number
Hi
thank you

### **WAP to check the number is even or odd**

In [ ]:
a=int(input("Enter a value"))
if a%2==0:
    print("Even number")
else:
    print("odd number")
print("Thank you")

Enter a value21
odd number
Thank you

### **if .... elif ... else**

*   if want to check multiple condition

In [ ]:
num=int(input("Enter either 10,20 or 30 "))
if num==10:
    print("TEN")
elif num==20:
    print("TWENTY")
elif num==30:
    print("THIRTY")
else:
    print("INVALID CHOICE")

Enter either 10,20 or 30 10
TEN

In [ ]:
num1 = int(input("Enter a value "))
if num1 > 0:
  print("Positive")
elif num1 < 0:
  print("Negative")
else:
  print("It's Zero")
print("Thank you")

Enter a value 0
It's Zero
Thank you

### **accept the city name from user and print the monumnent**

*   agra = tajmahal , delhi = red fort , mumbai = gateway of india

In [ ]:
city=input("Enter a city either agra , delhi ,mumbai").lower()
print(city)
if city=="delhi":
    print("Red Fort")
elif city=="agra":
    print("Taj Mahal")
elif city=="mumbai":
    print("Gateway of India")
else:
    print("Wrong Choice")

Enter a city either agra , delhi ,mumbaiagra
agra
Taj Mahal

### **WAP to find the largest number from the user enter three value using if elif statement**

In [ ]:
num1=int(input("Enter a Value "))
num2=int(input("Enter a Value "))
num3=int(input("Enter a Value "))
print("Maximum number is ",max(num1,num2,num3))

Enter a Value 36
Enter a Value 52
Enter a Value 41
Maximum number is  52

### **nested if**

In [ ]:
num=int(input("Enter a value "))
if num>500:
  print("Entered Value is greater than 500")
  print("Check for the number is 600 , 650 , 700")
  if num==600:
    print("Number is 600")
  elif num==650:
    print("Number is 650")
  elif num==700:
    print("Number is 700")
  else: print("unknown")
else:
  print("Entered Value is not greater than 500")

Enter a value 400
Entered Value is not greater than 500

### **WAP user enter a number identify whether it is a positive ,negative , zero**

In [ ]:
a=int(input("Enter an integer"))
if a>0:
    print(a,"is positive number")
elif a<0:
    print(a,"is negative number")
else:
    print("you have entered",a,"value")

Enter an integer0
you have entered 0 value

In [ ]:
a=int(input("Enter an integer"))
if a>=0:
    if a==0:#13==0 #false
        print("you have entered",a,"value")
    else:
        print(a,"is positive number")
else:
    print("Negative value ",a)

Enter an integer-13
Negative value  -13

**take a input from the user number**
1. divisible by 2 only 16
2. divisible by 3 only 15
3. divisible by 2 and 3 only 18
4. not divisible by 2 and 3 only 19

In [ ]:
a=int(input("Enter an integer"))
if a%2==0:
    if a%3==0:
        print("divisible by 2 and 3")
    else:
        print("divisible by 2 only")

else :
    if a%3==0:
        print("divisible by 3 only")
    else:
        print("not divisible by 2 and 3")

Enter an integer14
divisible by 2 only

In [ ]:
num = int(input("Enter a number: "))

if num % 3 == 0 and num % 5 == 0:
    print(num, "is divisible by both 3 and 5")
elif num % 3 == 0:
    print(num, "is divisible only by 3")
elif num % 5 == 0:
    print(num, "is divisible only by 5")
else:
    print(num, "is not divisible by either 3 or 5")

### **Looping Statement**
while loop -
wap to print 1 till 10

In [ ]:
i=1
while i<6:
    print(i)
    i+=1 # or i=i+1
print("Thank you")

1
2
3
4
5
Thank you

In [ ]:
i=5
while i>0:
    print(i)
    i-=1 # or i=i-1
print("Thank you")

5
4
3
2
1
Thank you

**WAP take input from user and print the table**
*   2 * 1 =2
*   2* 2 =4

In [ ]:
# eg. Print a table of 7 from 5 to 8. i.e.7*5, 7*6, 7*7, 7*8
a=int(input("Enter a number for print the table"))
i=int(input("Enter an number for starting the table"))#80
j=int(input("Enter an number for ending the table"))#10
while i<=j:
    print(a,' X ',i, ' = ',a*i)
    #print(f"{a} * {i} = {a * i}")#25<12
    i+=1
print("Thank you")

Enter a number for print the table5
Enter an number for starting the table3
Enter an number for ending the table6
5  X  3  =  15
5  X  4  =  20
5  X  5  =  25
5  X  6  =  30
Thank you

In [ ]:
n = int(input("Enter a number "))
i = 1
while i<11:
  print(n,' X ',i,' = ',n*i)
  i=i+1

Enter a number 7
7  X  1  =  7
7  X  2  =  14
7  X  3  =  21
7  X  4  =  28
7  X  5  =  35
7  X  6  =  42
7  X  7  =  49
7  X  8  =  56
7  X  9  =  63
7  X  10  =  70

In [ ]:
data="Python with Excelr"
for x in data:
    print(x,end=" ")

P y t h o n   w i t h   E x c e l r

In [ ]:
for i in range(6):
    print(i)

0
1
2
3
4
5

In [ ]:
for x in range(10,2,-1):
    print(x)

10
9
8
7
6
5
4
3

In [ ]:
for x in range(10,2):
    print(x)

In [ ]:
for i in range(2,22,2):
    print(i)

2
4
6
8
10
12
14
16
18
20

In [ ]:
'''
take start value end end value from user
Print summation of all even numbers
Print summation of all odd numbers
'''
start=int(input("Enter the start point "))
end=int(input("Enter the end point "))
e_sum=o_sum=0
for i in range(start,end+1):
    if i%2==0:
        e_sum+=i
    else:
        o_sum+=i

print("even_sum",e_sum)
print("odd1_sum",o_sum)

Enter the start point 1
Enter the end point 10
even_sum 30
odd1_sum 25

In [ ]:
print(2+4+6+8+10)
print(1+3+5+7+9)

30
25

### **WAP to calculate the sum of Natural Numbers**
*   For eg. Enter a value : 5
*   1+2+3+4+5

In [1]:
num=int(input("Enter the start point"))
i=1
sum=0
while i<=num:
    sum+=i
    i+=1

print("sum of Natural Numbers ",sum)

Enter the start point3
sum of Natural Numbers  6

In [2]:
num=int(input("Enter the number:"))
sum=0
for i in range(1,num+1):
    sum = sum + i
print(sum)

Enter the number:5
15

### **Loop Control Statement**
*   continue → skips the current iteration and goes to the next one.
*   break → terminates the loop completely.
*   print the value from 1 to 10

In [1]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [2]:
# In Python, the continue statement is used inside loops (for or while) to skip the current iteration
# and move directly to the next iteration of the loop.
for i in range(1,11): # The loop runs from 1 to 10
    if i==5: # When i == 5, the continue statement is executed.
        continue
    print(i) # That means Python skips the rest of the loop body (print(i)) for this iteration and goes to the next value of i
             # As a result, 5 is not printed.

1
2
3
4
6
7
8
9
10

In [ ]:
for i in range(1,11): # Loop starts from i = 1 up to 10.
    print(i) # Each value of i is printed.
    if i==5: # When i == 5, the break statement is executed.
        break # break immediately stops the entire loop — no further iterations are run.
print("For loop is terminated as break is encountered")

1
2
3
4
5
For loop is terminated as break is encountered

## **Sets**
*   A set is an unordered collection of unique elements.
*   i.e. each element in a set must be unique.
*   Sets are mutable, meaning you can add or remove items after a set has been created.
*   Sets are defined using curly braces {} or the built-in set() function.

In [1]:
# Create a Set
set1 = {1, 2, 3, 4, 5}
print (set1)

{1, 2, 3, 4, 5}

In [2]:
# Create set using built-in set() function
set2 = set([1, 2, 3, 4, 5])
print (set2)

{1, 2, 3, 4, 5}

In [3]:
set2 = set((1, 2, 3, 4, 5))
print (set2)

{1, 2, 3, 4, 5}

In [4]:
set3 = {1, 2, 2, 3, 3, 4, 5, 5}  # duplicates will be automatically removed
print (set3)

{1, 2, 3, 4, 5}

**Sets can contain elements of different data types, including numbers, strings, and even other sets (as long as they are immutable)**

In [5]:
mixed_set = {1, 'hello', (1, 2, 3)}
print (mixed_set)

{1, 'hello', (1, 2, 3)}

In [6]:
# Lists are mutable so not allowed as element of set. Below command will raise an error
mixed_set2 = {1, 'hello', [1, 2, 3]}

TypeError: unhashable type: 'list'

**Basic Set Operations:adding and removing elements, checking membership, and performing set-specific operations like union, intersection, difference, and symmetric difference.**

In [7]:
dir(set)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

**Adding an element inside a set**
*   add() : single element
*   update() : multiple element can be added

In [8]:
data={12,12,234,56,677,89,45,12}
print(data)

{677, 56, 89, 234, 12, 45}

In [9]:
data.add(12) # If the element is already present in the set, the set remains unchanged.
print(data)

{677, 56, 89, 234, 12, 45}

In [10]:
data.add(100) # sets are unordered, so there is no fixed position like in a list or tuple.
print(data) # Python decides the placement internally (based on hashing).
# That means you cannot control or predict the index/location where the element will appear.

{100, 677, 56, 89, 234, 12, 45}

In [11]:
data.add(900)
print(data)

{100, 677, 900, 56, 89, 234, 12, 45}

In [12]:
data.add(1000)
print(data)

{900, 12, 89, 100, 677, 1000, 234, 45, 56}

In [13]:
data.update([900,677,12,33,44,55])
print(data)

{900, 12, 89, 33, 100, 677, 1000, 234, 44, 45, 55, 56}

In [14]:
data.update((1,2,3))
print(data)

{1, 2, 3, 900, 12, 89, 33, 100, 677, 1000, 234, 44, 45, 55, 56}

**remove() - Remove an element from the set**

In [15]:
data.remove(909) # If element is not present error will be raised
print(data)

KeyError: 909

In [16]:
data.remove(900)

In [17]:
data

{1, 2, 3, 12, 33, 44, 45, 55, 56, 89, 100, 234, 677, 1000}

In [18]:
data.remove(677)
print(data)

{1, 2, 3, 12, 89, 33, 100, 1000, 234, 44, 45, 55, 56}

**Discard an element from the set.**

In [19]:
# discard() does not raise an error if the element is not found in the set
data.discard(50)

In [20]:
print(data)

{1, 2, 3, 12, 89, 33, 100, 1000, 234, 44, 45, 55, 56}

In [21]:
data.discard(234)
print(data)

{1, 2, 3, 12, 89, 33, 100, 1000, 44, 45, 55, 56}

**pop(): Any random element will be removed.**

In [22]:
data.pop()
print(data)

{2, 3, 12, 89, 33, 100, 1000, 44, 45, 55, 56}

**clear()**

In [23]:
data.clear()
print(data)

set()

**del**

In [24]:
set1={12,34,56,78,90,4,55,67,12}
print(set1)

{34, 67, 4, 12, 78, 55, 56, 90}

In [25]:
del set1

In [26]:
# del set1 → deletes the set object itself. Afterwards if you try to print set it will raise error
# set1.clear() → empties the set but keeps it alive.
print(set1)

NameError: name 'set1' is not defined

**Membership testing of a particular element in a set**

In [28]:
my_set = {1, 2, 3, 4}
i=9
if i in my_set:
   print(i," is present in the set")
else:
   print(i," is not present in the set")

9  is not present in the set

### **Set Operations**
*   Union − It combine elements from both sets using the union() function or the | operator.
*   Intersection − It is used to get common elements using the intersection() function or the & operator.
*   Difference − It is used to get elements that are in one set but not the other using the difference() function or the - operator.
*   Symmetric Difference − It is used to get elements that are in either of the sets but not in both using the symmetric_difference() method or the ^ operator.

**Union: It will merge both sets and duplicate elemets will be entered once**

In [29]:
set1={"English","Hindi","Marathi"}
set2={"Tamil","French","English"}
new_set = set1.union(set2)
print(new_set)

{'Marathi', 'Tamil', 'Hindi', 'English', 'French'}

In [30]:
var1= set1 | set2
print(var1)

{'Marathi', 'Tamil', 'Hindi', 'English', 'French'}

**Intersection: Common elements in both sets**

In [31]:
set1={"English","Hindi","Marathi"}
set2={"Tamil","French","English"}
data=set1.intersection(set2)
print(data)

{'English'}

In [32]:
data2=set1 & set2
print(data2)

{'English'}

In [33]:
set1

{'English', 'Hindi', 'Marathi'}

In [34]:
set2

{'English', 'French', 'Tamil'}

**intersection_update() - Store the result of intersection() in set1**

In [35]:
set1.intersection_update(set2)
print(set1)
print(set2)

{'English'}
{'English', 'Tamil', 'French'}

**Symmetric_difference() : it is a opposite of intersection()**
*   Except common elements put all elements in new set

In [36]:
set1={'a','b','c'}
set2={'a','d','e'}
new_set=set1.symmetric_difference(set2)
print(new_set)

{'c', 'd', 'e', 'b'}

In [37]:
new_set2=set1 ^ set2
print(new_set2)

{'c', 'd', 'e', 'b'}

**In set2 save the resultant of symmetric_difference() using symmetric_difference_update()**

In [38]:
set2.symmetric_difference_update(set1)
print(set2)
print(set1)

{'c', 'd', 'e', 'b'}
{'c', 'b', 'a'}

**Difference**

In [39]:
set1={"HTML","CSS","Javascript","Python","English","Math"}
set2={"Python","angular","Nodejs","English","Math"}
print(set1)
print(set2)

{'Math', 'English', 'Python', 'Javascript', 'HTML', 'CSS'}
{'Nodejs', 'angular', 'English', 'Python', 'Math'}

In [41]:
data=set1 & set2 # Common i.e. intersection
print(data)

{'English', 'Python', 'Math'}

In [43]:
new_data=set1 - set2
print(new_data)

{'Javascript', 'HTML', 'CSS'}

In [45]:
new_data2 = set2 - set1
print(new_data2)

{'Nodejs', 'angular'}

In [46]:
set1 # remains unchanged

{'CSS', 'English', 'HTML', 'Javascript', 'Math', 'Python'}

In [47]:
set2 # remains unchanged

{'English', 'Math', 'Nodejs', 'Python', 'angular'}

In [48]:
set1.difference_update(set2)
print(set1) # set1 is changed

{'Javascript', 'HTML', 'CSS'}

In [49]:
set2 # remains unchanged

{'English', 'Math', 'Nodejs', 'Python', 'angular'}

**Frozen Set: A frozen set is an immutable collection of unique elements, similar to a regular set but with the distinction that it cannot be modified after creation. Once created, the elements within a frozen set cannot be added, removed, or modified, making it a suitable choice when you need an immutable set.**

In [50]:
set_a=frozenset((12,34,56,78,90,2,3,4))
print(set_a)

frozenset({34, 2, 3, 4, 12, 78, 56, 90})

In [51]:
set_a.add(400)

AttributeError: 'frozenset' object has no attribute 'add'