In [111]:
import math

In [112]:
math.cbrt(8)

2.0

In [114]:
math.sqrt(4)

2.0

In [115]:
math.factorial(5)

120

In [84]:
math.pi

3.141592653589793

In [116]:
math.sin(90)

0.8939966636005579

In [118]:
math.sin(math.pi/2)

1.0

In [86]:
math.cos(math.pi)

-1.0

In [87]:
math.log2(2)

1.0

In [88]:
math.log10(20)

1.3010299956639813

In [89]:
math.exp(3)

20.085536923187668

In [91]:
2/math.inf

0.0

In [119]:
math.ceil(3.2)

4

In [120]:
math.floor(3.99)

3

In [98]:
x=[2,3]
y=[4,5]
math.dist(x,y)

2.8284271247461903

In [121]:
math.sqrt(8)

2.8284271247461903

In [123]:
math.pow(3,3)

27.0

In [124]:
## File Handling

In [1]:
with open('dog_breeds.txt','r') as reader:
    print(reader.read())

Pug
Jack Russell Terrier
English Springer Spaniel
German Shepherd
Staffordshire Bull Terrier
Cavalier King Charles Spaniel
Golden Retriever
West Highland White Terrier
Boxer
Border Terrier

In [7]:
file= open('dog_breeds.txt','r')

In [8]:
lines=file.readlines()

In [14]:
print(lines[1])

Jack Russell Terrier

In [13]:
import linecache

In [17]:
linecache.getline('dog_breeds.txt',5)

'Staffordshire Bull Terrier\n'

In [18]:
file= open('text2.txt','r')

In [19]:
file.read()

'Hai , how are you, how is going on.'

In [20]:
file= open('text2.txt','w')

In [21]:
lines=['this is python course\n','it started from the month of july\n','its is a value added course']

In [22]:
file.writelines(lines)

In [23]:
file.close()

In [24]:
file= open('text2.txt','r')

In [25]:
file.readlines()

['this is python course\n',
 'it started from the month of july\n',
 'its is a value added course']

In [26]:
file= open('text2.txt','a')

In [27]:
lines=['course will complete']

In [28]:
file.writelines(lines)

In [29]:
file.close()

In [30]:
file= open('text2.txt','r')

In [31]:
file.readlines()

['this is python course\n',
 'it started from the month of july\n',
 'its is a value added coursecourse will complete']

In [39]:
## create a new text file
open('text3.txt','x')

In [33]:
## os module
import os

In [37]:
os.path.exists('dog_breeds.txt')

True

In [38]:
## current working directory
os.getcwd()

'C:\\Users\\excel\\(12.7.24) Python Practicing Programs\\DA Python Programs\\DA Updated new(17.7.24)'

In [41]:
## changing the directory
os.chdir(r'C:\Users\excel\OneDrive\Desktop')

In [42]:
os.getcwd()

'C:\\Users\\excel\\OneDrive\\Desktop'

In [43]:
## Remove the files
os.remove('text1.txt')

In [52]:
## remove the folder
os.rmdir('new2')

FileNotFoundError: [WinError 2] The system cannot find the file specified: 'new2'

In [49]:
file='Mock.docx'

In [50]:
os.rename(file,'Mock1.docx')

In [77]:
## Exceptional Handling

In [54]:
2/0

ZeroDivisionError: division by zero

In [56]:
num1= int(input('Enter the First Number1: '))
num2= int(input('Enter the Second Number2: '))
try:
    div=num1/num2
    print('The Result',div)
except:
    print('The number is not divisible')

Enter the First Number1: 20
Enter the Second Number2: 0
The number is not divisible

In [58]:
str1='22'
str2='44'
str1/str2

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [57]:
num1= input('Enter the First number')
num2= input('Enter the second number')
try:
    div= num1/num2
except:
    print('string cannot be divisible')

Enter the First number22
Enter the second number22
string cannot be divisible

In [59]:
list1=[1,2,3,4,5]

In [61]:
list1[5]

IndexError: list index out of range

In [64]:
try:
    even_num=[1,2,3,4]
    var=even_num[5]
    print(var)
except:
    print('index out of range')

index out of range