In [2]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
import pickle
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

In [3]:
df= pd.read_csv('claimants.csv')

In [4]:
df.shape

(1340, 7)

In [5]:
df.head()

   CASENUM  ATTORNEY  CLMSEX  CLMINSUR  SEATBELT  CLMAGE    LOSS
0        5         0     0.0       1.0       0.0    50.0  34.940
1        3         1     1.0       0.0       0.0    18.0   0.891
2       66         1     0.0       1.0       0.0     5.0   0.330
3       70         0     0.0       1.0       1.0    31.0   0.037
4       96         1     0.0       1.0       0.0    30.0   0.038

In [6]:
df.drop(columns=['CASENUM'],inplace=True)

In [7]:
df.head()

   ATTORNEY  CLMSEX  CLMINSUR  SEATBELT  CLMAGE    LOSS
0         0     0.0       1.0       0.0    50.0  34.940
1         1     1.0       0.0       0.0    18.0   0.891
2         1     0.0       1.0       0.0     5.0   0.330
3         0     0.0       1.0       1.0    31.0   0.037
4         1     0.0       1.0       0.0    30.0   0.038

In [8]:
#### missing values
df.isnull().sum()

ATTORNEY      0
CLMSEX       12
CLMINSUR     41
SEATBELT     48
CLMAGE      189
LOSS          0
dtype: int64

In [9]:
df.fillna({'CLMSEX':df.CLMSEX.mode()[0],'CLMINSUR':df.CLMINSUR.mode()[0],'SEATBELT':df.SEATBELT.mode()[0],
          'CLMAGE':df.CLMAGE.median()},inplace=True)

In [10]:
df.isnull().sum()

ATTORNEY    0
CLMSEX      0
CLMINSUR    0
SEATBELT    0
CLMAGE      0
LOSS        0
dtype: int64

In [11]:
### duplicates;
df.duplicated().sum()

np.int64(30)

In [15]:
df.drop_duplicates(inplace=True,ignore_index=True)
features= df.drop(columns=['ATTORNEY'])
target= df[['ATTORNEY']]

In [24]:
x_train,x_test,y_train,y_test= train_test_split(features,target,train_size=0.85,random_state=100,stratify=target)
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(1113, 5)
(197, 5)
(1113, 1)
(197, 1)

In [25]:
log_model=LogisticRegression()
log_model.fit(x_train,y_train)
y_pred= log_model.predict(x_test)
accuracy_score(y_test,y_pred)

0.7258883248730964

In [26]:
file= 'log30.pkl'

In [27]:
pickle.dump(log_model,open(file,'wb'))