In [1]:
## set
set1={3,4,5,10,14,8,100}

In [2]:
set1

{3, 4, 5, 8, 10, 14, 100}

In [3]:
set2= set1.copy()

In [4]:
set2

{3, 4, 5, 8, 10, 14, 100}

In [5]:
set1.add(200)

In [6]:
set1.add(50)

In [7]:
set1

{3, 4, 5, 8, 10, 14, 50, 100, 200}

In [8]:
set2

{3, 4, 5, 8, 10, 14, 100}

In [9]:
## union
set1.union(set2)

{3, 4, 5, 8, 10, 14, 50, 100, 200}

In [10]:
set1 | set2

{3, 4, 5, 8, 10, 14, 50, 100, 200}

In [14]:
## Intersection
set1 & set2
set1.intersection(set2)

{3, 4, 5, 8, 10, 14, 100}

In [12]:
## Difference
set1 - set2

{50, 200}

In [13]:
set1.difference(set2)

{50, 200}

In [15]:
set2.issubset(set1)

True

In [16]:
set1.issuperset(set2)

True

In [29]:
#### Dictionaries
dict1= {'Name':['Ajay','Sanjay','John','Ramya'],'Age':[20,21,22,23],
        'Gender':['Male','Male','Male','Female']}

In [30]:
type(dict1)

dict

In [31]:
dict1

{'Name': ['Ajay', 'Sanjay', 'John', 'Ramya'],
 'Age': [20, 21, 22, 23],
 'Gender': ['Male', 'Male', 'Male', 'Female']}

In [32]:
dict1.keys()

dict_keys(['Name', 'Age', 'Gender'])

In [33]:
dict1.values()

dict_values([['Ajay', 'Sanjay', 'John', 'Ramya'], [20, 21, 22, 23], ['Male', 'Male', 'Male', 'Female']])

In [34]:
dict1.items()

dict_items([('Name', ['Ajay', 'Sanjay', 'John', 'Ramya']), ('Age', [20, 21, 22, 23]), ('Gender', ['Male', 'Male', 'Male', 'Female'])])

In [35]:
dict1.setdefault('Location',['Pune','Mumbai','Chennai','Bengaluru'])

['Pune', 'Mumbai', 'Chennai', 'Bengaluru']

In [36]:
dict1

{'Name': ['Ajay', 'Sanjay', 'John', 'Ramya'],
 'Age': [20, 21, 22, 23],
 'Gender': ['Male', 'Male', 'Male', 'Female'],
 'Location': ['Pune', 'Mumbai', 'Chennai', 'Bengaluru']}

In [39]:
dict1.get('Gender')

['Male', 'Male', 'Male', 'Female']

In [40]:
dict2= dict1.copy()

In [41]:
dict2

{'Name': ['Ajay', 'Sanjay', 'John', 'Ramya'],
 'Age': [20, 21, 22, 23],
 'Gender': ['Male', 'Male', 'Male', 'Female'],
 'Location': ['Pune', 'Mumbai', 'Chennai', 'Bengaluru']}

In [42]:
dict2.pop('Location')

['Pune', 'Mumbai', 'Chennai', 'Bengaluru']

In [43]:
dict2

{'Name': ['Ajay', 'Sanjay', 'John', 'Ramya'],
 'Age': [20, 21, 22, 23],
 'Gender': ['Male', 'Male', 'Male', 'Female']}

In [44]:
dict1

{'Name': ['Ajay', 'Sanjay', 'John', 'Ramya'],
 'Age': [20, 21, 22, 23],
 'Gender': ['Male', 'Male', 'Male', 'Female'],
 'Location': ['Pune', 'Mumbai', 'Chennai', 'Bengaluru']}

In [45]:
dict2.update(dict1)

In [46]:
dict2

{'Name': ['Ajay', 'Sanjay', 'John', 'Ramya'],
 'Age': [20, 21, 22, 23],
 'Gender': ['Male', 'Male', 'Male', 'Female'],
 'Location': ['Pune', 'Mumbai', 'Chennai', 'Bengaluru']}

In [47]:
dict1

{'Name': ['Ajay', 'Sanjay', 'John', 'Ramya'],
 'Age': [20, 21, 22, 23],
 'Gender': ['Male', 'Male', 'Male', 'Female'],
 'Location': ['Pune', 'Mumbai', 'Chennai', 'Bengaluru']}

In [50]:
dict1.popitem()

('Gender', ['Male', 'Male', 'Male', 'Female'])

In [51]:
dict1

{'Name': ['Ajay', 'Sanjay', 'John', 'Ramya'], 'Age': [20, 21, 22, 23]}

In [52]:
## print
Name='Ajay'
Age= 22
Profession='Engineer'

In [55]:
print(Name,'is',Age,'years old and he is an',Profession)

Ajay is 22 years old and he is an Engineer

In [58]:
## f-format
print(f'{Name} is {Age} years old and he is an {Profession}')

Ajay is 22 years old and he is an Engineer

In [60]:
## Input Function
Name= input('Enter your Name: ')
print('hai',Name)

Enter your Name:  Sanjay kumar

hai Sanjay kumar

In [64]:
num1= int(input('Enter first number'))
num2= int(input('Enter second number'))
sum1= num1+num2
print('The total is :',sum1)

Enter first number 22
Enter second number 22

The total is : 44

In [65]:
## Loops
list1=[2,3,4,5]

In [67]:
for i in list1:
    print(i)

2
3
4
5

In [68]:
range(1,6)

range(1, 6)

In [69]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [71]:
for i in enumerate(list1):
    print(i)

(0, 2)
(1, 3)
(2, 4)
(3, 5)

In [72]:
list1=[3,4,5,6]

In [80]:
list1=[]
n= int(input('Enter the count'))
for i in range(n):
    inputs= int(input(f'Enter the input:{i+1}'))
    list1.append(inputs)
print(list1)

Enter the count 3
Enter the input:1 2
Enter the input:2 3
Enter the input:3 4

[2, 3, 4]

In [81]:
## List comprehension
list1

[2, 3, 4]

In [84]:
[i+i for i in list1]

[4, 6, 8]

In [87]:
n= int(input('Enter the number'))
if n>10:
    x= n-5
    print(x)
elif n<10:
    x= n+5
    print(x)
else:
    print(n)

Enter the number 10

10

In [89]:
# check the odd /even number
n= int(input('Enter the number'))
if n%2==0:
    print(n,'Number is Even')
else:
    print(n,'Number is odd')

Enter the number 11

11 Number is odd

In [92]:
## check the number is positive/negative/zero
n= int(input('Enter the number'))
if n>0:
    print(n,'Number is Positive')
elif n<0:
    print(n,'Number is Negative')
else:
    print(n,'Number is Zero')

Enter the number 100

100 Number is Positive

In [93]:
list1=[2,4,6,10,11,13,15]
even=[]
odd=[]
for i in list1:
    if i%2==0:
        even.append(i)
    else:
        odd.append(i)
print(even,odd)

[2, 4, 6, 10] [11, 13, 15]

In [94]:
## Functions
def add(x):
    return x+x

In [98]:
add(2)

4

In [99]:
def mult(x,y):
    return x*y

In [100]:
mult(4,5)

20

In [101]:
import math

In [102]:
def factorial(x):
    return math.factorial(x)

In [103]:
factorial(5)

120

In [104]:
def even_odd(x):
    if x%2==0:
        return (x,'Number is even')
    else:
        return (x,'Number is odd')

In [106]:
even_odd(3)

(3, 'Number is odd')

In [107]:
a=[]
even=[]
odd=[]
def even_odd(a):
    for i in a:
        if i%2==0:
            even.append(i)
        else:
            odd.append(i)
    print(even,odd)

In [108]:
even_odd([2,5,7,10,11,22,13])

[2, 10, 22] [5, 7, 11, 13]

#### Lambda

In [109]:
add= lambda x: x+x

In [110]:
add(3)

6

In [111]:
mult= lambda x,y: x*y

In [112]:
mult(5,5)

25

In [113]:
fact= lambda x: math.factorial(x)

In [114]:
fact(5)

120

In [118]:
even_odd= lambda x: (x,'Number is Even') if x%2==0 else (x,'Number is odd')

In [120]:
even_odd(30)

(30, 'Number is Even')

In [121]:
pos_neg= lambda x: (x,'Number is positive') if x>0 else (x,'Number is Negative') if x<0 else (x,'Number is Zero')

In [124]:
pos_neg(-10)

(-10, 'Number is Negative')

In [125]:
list1

[2, 4, 6, 10, 11, 13, 15]

In [126]:
even_odd= lambda x: [(x,'Number is Even') if x%2==0 else (x,'Number is odd') for x in list1]

In [127]:
even_odd(list1)

[(2, 'Number is Even'),
 (4, 'Number is Even'),
 (6, 'Number is Even'),
 (10, 'Number is Even'),
 (11, 'Number is odd'),
 (13, 'Number is odd'),
 (15, 'Number is odd')]